<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test.styles.css" asp-append-version="true" />



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    @* Data Table Link *@
    <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet" />

  
</head>
<body>


    <header>
        @*  navbar-light bg-white style="background-image: linear-gradient(195deg, #42424a 100%, #191919 50%);" *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3" >
            <div class="container-fluid" style="margin-left: 210px !important;">
                <button class="toggle-btn" type="button">
                    <i class="bi bi-text-indent-left"></i>
                </button>

                @* <i class="bi bi-text-indent-right"></i> *@

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Tabel</a>
                        </li>


                    </ul>

                    <!-- Logout Button -->
                    <button class="logoutbtn btn btn-primary" type="button">
                        <span class="bi bi-box-arrow-right"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
 
        <aside id="sidebar">
            <div class="d-flex">
               
           
          
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-list-task"></i>
                        <span>Task</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="bi bi-shield-lock"></i>
                        <span>Auth</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link #" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link">Register</a>
                        </li>

                   
                        <li class="sidebar-item"><a class="sidebar-link" asp-area="UserArea" asp-controller="InvActivityLocations" asp-action="Index">Activity Locations</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" asp-area="UserArea" asp-controller="InvLineMasters" asp-action="Index">Shipping Line</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" asp-area="UserArea" asp-controller="InvBillingLocations" asp-action="Index">Billing Location (Seller)</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" asp-area="UserArea" asp-controller="InvProductDescriptions" asp-action="Index">Product Descr</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" asp-area="UserArea" asp-controller="InvInvoiceEdiCodes" asp-action="Index">Invoice EDI</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" asp-area="AdminArea" asp-controller="CompaniesAdmin" asp-action="Index">Company</a></li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                        <i class="bi bi-columns-gap"></i>
                        <span>Multi Level</span>
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                               data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                Two Links
                            </a>
                            <ul id="multi-two" data-bs-parent="#sidebar" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-bell"></i>
                        <span>Notification</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-gear"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>

        <div class="main">
        

            <div class="text-center">
                <main role="main" class="pb-3 p-2">

                    @RenderBody()
               
                </main>
            </div>
      
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

 
 
  

    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap5.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
